body {
  background-color: rgb(41, 95, 194) !important;
  background: url("../media/YosemiteField.jpg");
  background-size: cover;
}

#loading {
  height: 60px;
}
#loading {
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
